    grid-column-start: 8;
    grid-row-start: 8;
}

.div92 {
    grid-column-start: 8;
    grid-row-start: 7;
}

.div93 {
    grid-column-start: 9;
    grid-row-start: 7;
}

.div94 {
    grid-column-start: 9;
    grid-row-start: 8;
}

.div95 {
    grid-column-start: 9;
    grid-row-start: 9;
}

.div96 {
    grid-column-start: 9;
    grid-row-start: 10;
}

.div97 {
    grid-column-start: 10;
    grid-row-start: 10;
}

.div98 {
    grid-column-start: 10;
    grid-row-start: 9;
}

.div99 {
    grid-column-start: 10;
    grid-row-start: 8;
}

.div100 {
    grid-column-start: 10;
    grid-row-start: 7;
}
        

div{
  background: #0e0e0e;
  border: 1px solid blue;
  color: #ccc;
  
}